<style> 
        h1{
            color: brown;
        }
        p{
            color: blue;
        }
        li{
            color: black;
        }
        h3{
            color: purple;
        }
        div li { color:hotpink;

        }
    </style>